:root {
    --pywc-primary: #2e4057;
    --pywc-secondary: #F2DDA4;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: var(--pywc-secondary) !important;
    color: var(--pywc-primary) !important;
    border: 0px !important;
    outline: none;
}


body {
    background-color: var(--pywc-primary);
    color: white;
    letter-spacing: -0.5px;
}

h1 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    filter: brightness(85%);
}

.semibold {
    font-weight: 600;
}

.extrabold {
    font-weight: 800;
}

.container {
    max-width: 1000px;
}

.title {
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
}

.intro {
    font-size: 50px;
}

.intro2 {
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .intro {
        font-size: 40px;
    }
}

.profile-image {
    width: 100%;
    border-radius: 12px;
}

@media only screen and (max-width: 1000px) {
    .profile-image {
        width: 250px;
        border-radius: 12px;
        margin-bottom: 20px;
    }

}



.my-name {
    color: var(--pywc-secondary);
}

.nav-link {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.nav-link:focus {
    color: var(--pywc-secondary);
}

.nav-link:hover {
    color: var(--pywc-secondary);
    filter: brightness(85%);
}

.active {
    color: var(--pywc-secondary);
}


.action-btn {
    font-size: 30px;
}

.action-btn:hover {
    color: var(--pywc-secondary);
}

.subtext {
    color: #a6a6a6;
}

.fs-5 {
    font-size: 1.15rem !important;
}