:root {
    --pywc-primary: #002b36;
    --pywc-secondary: #ffdf77;
    --font-primary: #eef5f9;
    --font-secondary: #b0b0b0;
}

/* Global */
body {
    letter-spacing: -0.3px;
    background-color: var(--pywc-primary);
    color: var(--font-primary);
    overflow-x: hidden;
    min-height: 100%;
    font-family: Archivo, 'Helvetica Neue', sans-serif !important;
}

a {
    color: var(--font-primary);
}

.row {
    max-width: 100%;
    margin-left: 0;
}

.container {
    max-width: 1200px;
}

.only-mobile {
    display: none;
}

.color-secondary {
    color: var(--pywc-secondary);
}

.fc-secondary {
    color: var(--font-secondary);
}

ol li {
    margin-left: 0.75rem;
    margin-bottom: 1.5rem;
}

ul li {
    margin-bottom: 0.25rem;
}

.top-down-bar {
	border-top: 1px solid;
	color: var(--pywc-secondary);
}



/* Buttons */
.btn-custom {
    background-color: var(--pywc-secondary);
    border: none;
    color: var(--pywc-primary);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* floating effect */
}

.btn-custom:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.8); /* deeper shadow */
    color: var(--pywc-primary);
    background-color: #a9924f;
}

.btn-lg {
    --bs-btn-font-size: 1.1rem !important;
}



/* Introduction */
.intro {
    letter-spacing: -2px;
}

.card {
    color: var(--font-primary);
    border-color: var(--font-primary);
    background-color: var(--pywc-primary);
}

.profile-image {
    width: 100%;
    border-radius: 12px;
}

.intro-pic-email {
    width: 23%;
}



/* link highlighting */
a.link-highlight {
  color: var(--pywc-secondary);
  text-decoration: none;
  background-image: linear-gradient(to right, var(--pywc-secondary) 0%, var(--pywc-secondary) 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: 0 90%;
  transition: background-size 0.3s ease, color 0.3s ease;
}

a.link-highlight:hover {
  color: var(--pywc-primary);
  background-size: 100% 100%;
}



/* Mobile */
@media only screen and (max-width: 600px) {
    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .card {
        margin-bottom: 20px;
    }

    .col-sm-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .col-sm-9 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .col-sm-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .intro-pic-email {
        width: 100% !important;
    }

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-pt-5 {
        padding-top: 3rem !important;
    }
}